p {
	color: yellow;
}
* {
	font-family: "courier New;, monospace;
	font-size: 22px;
}

h1 {
	font-size: 5rem;
}

#idName {
text-transform: uppercase;
}

.languages-to-be-learned {
	background-color: peachpuff;
}

li[type] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}


h4 + ul{
	list-style: none;
}


#images img {
	height: 300px;
	width: 300px;
}

h4 ~ p {
	text-align: center;
}

body > section > h4 {
	letter-spacing: 25px;
}