/*external CSS styling*/

/*css rules
	selectors {
	property: value;
	}

	h1 {
		color: yellow;
	}
	h1 {color: yellow;}
*/

/*universal selector*/
/*target elements in html*/
/*asterisk is the universal symbol*/

* {
	font-family: "coutier New, monospace;
	font-size: 20px;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}
 /*selector:  hover pseudo class*/
/*changes when hovered over*/
a:hover {
	background-color: $b4d6de;
}
div {
	display: inline-block;
	float: right;
}

/*Type selector*/
/*tag-Name*/

h1 {
	color: yellow !important;
	text-align: center;
	font-size: 2rem;
}


/*landing section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}
ol {
	list-style: none;
}

/*register section*/
form {
	text-align: center;
	background-color: white;
	border: 2px soli black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}


/*id selector*/
/*#id-name*/
#zuitt-motto {
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px;
}
/*adjacent sibling selector*/
/*selector + selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*class selector*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
}

/*decendant selector*/
/* selector selector */
#bootcamp-learning-list li {
	color: #075966;
}

/*general sibling selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

/*child selector*/
/*selector > selector*/

body > section > form > label {
	color: rgb(0, 0, 128);
}


/*Attribute Selector*/
/*tagname[attribuite]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}